{% extends "layout.twig" %}
{% block content %}
    <div class="container">
        {% if article.userId == user %}
            <form method="get" action="/articles/{{ article.id }}/edit" style="display: inline;">
                <button class="btn btn-primary">Edit article</button>
            </form>
            <form method="post" action="/articles/{{ article.id }}/delete" style="display: inline;">
                <button class="btn btn-primary" onclick="return confirm('Delete?')">Delete article</button>
            </form>
        {% endif %}
        <div class="container">
            <h3>{{ article.title }}</h3>
            <p>{{ article.description }}</p>
        </div>
        <div class="container">
            Created at: {{ article.createdAt }} by: {{ articleOwnerName }}
        </div>
        <div class="container">
            Likes: {{ likes }}
        </div>
        <div class="container">
            {% if likeButtons %}
                <form method="post" action="/articles/{{ article.id }}/likes" h>
                    <button type="submit" name="liked" value="1">Like</button>
                    <button type="submit" name="liked" value="-1">Dislike</button>
                </form>
            {% endif %}
        </div>
        <br>
        <div class="container">
            <h3>Comments</h3>
            <ul>
                {% for comment in comments %}
                    <div class="container"
                         style="width: 600px;  border: 2px solid gray; border-radius: 8px; padding: 5px; margin: 5px">
                        <li>
                            <div class=container">
                                {{ comment.comment }}
                            </div>
                            Created at: {{ comment.createdAt }} by: {{ comment.creatorName }}
                            <br>
                            {% if comment.userId == user %}
                                <form method="post" action="/comment/{{ comment.id }}/delete">
                                    <button class="btn btn-primary" onclick="return confirm('Really Delete?')">Delete
                                    </button>
                                </form>
                            {% endif %}
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="container">
            {% if authorized %}
                <form method="post" action="/articles/{{ article.id }}/addComment">
                    <div class="form-group">
                        <label for="comment">Add comment:</label>
                        <textarea type="text" class="form-control" id="comment" name="comment" rows="3"
                                  placeholder="Comment" cols="40" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add new Comment</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}